<!DOCTYPE html>
<html>
    <head>
        <title>Pizza</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <ol id="navbar">
                {% if loggedin == False %}
                    {% for site in links %}
                        <li><a href="{{ links[site] }}">{{ site }}</a></li>
                    {% endfor %}
                {% else %}
                    {% for site in loglinks %}
                        <li><a href="{{ loglinks[site] }}">{{ site }}</a></li>
                    {% endfor %}
                {% endif %}
                
            </ol>
            
            
            <div class="content">
                {% if loggedin != False %}
                    <p>User: <b>{{ loggedin }}</b></p>
                {% endif %}

                <h1>{% block heading %}{% endblock %}</h1>

                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
